html, body {
    margin: 0;
    padding: 0;
    font-family: "Staatliches"
}

<!-- NAVIGATION BAR -->
.Header {
    background-color:black;
    text-transform: uppercase;
    text-decoration: none;
    z-index: 10;
    width: 100%;
    text-align: center;
}

.NavBar {
    color:white;
    text-transform: uppercase;
    text-decoration: none;
    z-index: 10;
    width: 100%;
    text-align: center;
}

ul {
    top: 0;
    width: 100%;
    background:black
  }

.Menu li {
    list-style: none;
    opacity:0.7;
    transition: 1s ease;
    font-size: 20px;
    display: inline;
    padding: 40px;   
    text-decoration: none;
    z-index: 2;
}
        
.Menu li:hover{
    opacity:1;
    transition: 1s ease;
}

.btn-head{
    color: white;
    text-decoration: none;
}

.Menu {
    margin: 0;
    padding: 10px 0;
    text-decoration: none;
}

<!-- JUMBOTRON -->
.Jumbotron {
    height: 500px;
    background: url('Banner.jpg');
}

.Main {
    top: 180px;
    text-align: center;
    position: relative;
}

.Main h1 {
    color: #333;
    font-weight: 600;
    font-size: 55px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 50px;
    padding-top: 0px;
}

.Main h2{
    color: black);
    font-size: 30px;
    font-weight: 700;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.btn-main {
    background-color: #333;
    color: #fff;
    font-weight: 600;
    font-size: 60px;
    letter-spacing: 1.3px;
    padding: 16px 48px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 30px;
}

/* FOOTER */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(161, 12, 12);
  color: white;
  text-align: center;